/*
Name: Dispertaru DIY
Author: Kukuh Nova Putra
URI: https://kukuh.one
Version: 1.0
*/

/* Typeface */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Reset
--------------------------------------------- */
html,
body {
   height:100%;
   margin:0;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 400;
}
 
.full {
   height:100%;
   min-height:100%;
}

html>body .full {
   height: auto;   
}

/* Custom Color
--------------------------------------------- */
.blog,
.bg-green {
   background-color: #035424;
}

.bg-yellow,
.timeline,
.slider-info {
   background-color: #FFF3D1;
}

.btn-yellow {
   background-color: #D8DF21;
   color: #035424;
   font-weight: 700;
}

.btn-yellow:hover {
   background-color: #F6FF00 !important;
   color: #035424 !important;
}

.text-green {
   color: #035424;
}

.text-yellow {
   color: #FFF3D1;
}

a.text-yellow:hover,
.navbar-custom a:hover {
   color: #F6FF00 !important;
}

/* Logo
--------------------------------------------- */

.logo {
   width: 3.5rem;
   height: 3.5rem;
}

/* Page Container
--------------------------------------------- */
.layout {
   height: 100vh;
}

section {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* Hero
--------------------------------------------- */
.hero,
.hero-info {
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.hero {
   background-image: url("../images/hero-mobile.png");
}

.hero-info {
   background-image: linear-gradient(rgba(3,84,36,.8), rgba(3,84,36,.8)), url("../images/hero-info.jpeg");
}

@media (max-width: 991px) {
   .hero-text {
      margin-top: -5rem !important;
   }
   .hero-text h1,
   .hero-info-text h1, {
      font-size: 2.5rem;
   }
}

@media (min-width: 992px) { 
   .hero {
      background-image: url("../images/hero.png");
   }
}

/* Merge Style
--------------------------------------------- */
.hero h1,
.hero-info h1,
.text-counter {
   font-weight: 700;
}

.hero p,
.timeline p {
   font-weight: 500;
}

.timeline,
.slider-info {
   background-color: #FFF3D1;
}

.timeline p {
   color: #035424;
}

/* Custom Navbar
--------------------------------------------- */
.navbar-custom {
   transition: 500ms ease;
   background-color: #035424 !important;
}

.navbar-toggler {
   border: none;
}

.navbar-custom a {
   color: #FFF3D1 !important;
}

.navbar-custom.scrolled {
   color: #035424 !important;
   background: #FFF3D1 !important;
}

.navbar-custom.scrolled a {
   color: #035424 !important;
}

@media (max-width: 992px) { 
   .navbar-custom a {
      color: #FFF3D1 !important;
   }
   
   .navbar-custom.scrolled {
      color: #035424 !important;
      background: #FFF3D1 !important;
   }

   .navbar-custom.scrolled a {
      color: #FFF3D1 !important;
   }

   .navbar-custom.scrolled a.navbar-brand {
      color: #035424 !important;
   }
}

/* Logo
--------------------------------------------- */
.card {
   background: transparent;
   border: 0;
}

.card-body {
   padding: 0 !important;
}

/* Search Form Custom
--------------------------------------------- */
.has-search .form-control {
   padding-left: 3rem;
}

.has-search .form-control-feedback {
   position: absolute;
   z-index: 2;
   display: block;
   width: 1.375rem;
   height: 1.375rem;
   line-height: 1.375rem;
   text-align: center;
   pointer-events: none;
   color: #035424;
}

/* Card Information
--------------------------------------------- */
img.card-img-top {
   border-radius: 2rem !important;
}

.card-img-overlay {
   width: 200px;
   height: 200px;
   background-color: #035424 !important;
   opacity: .7;
   border-radius: 2rem !important;
}

.card-img-overlay h4 {
   text-align: left !important;
   color: #FFF3D1;
   font-weight: 700;
}

.rounded {
   outline: 5px solid #D8DF21;
   outline-offset: 5px;
}

img.rounded,
.overlay-text {
   width: 200px;
   height: 200px;
}

@media (max-width: 420px) {
   .card-img-overlay,
   img.rounded,
   .overlay-text {
      width: 150px;
      height: 150px;
   }
}

@media (min-width: 320px) { 
   p.caption,
   a.caption {
      text-align: left !important;
   }
}

@media (min-width: 992px) { 
   p.caption,
   a.caption {
      text-align: center !important;
   }
}

/* Footer
--------------------------------------------- */
footer {
   background-color: #035424;
   color: #FFF3D1;
}

footer p {
   margin-bottom: .5rem !important;
}

.text-counter {
   font-size: 2.5rem;
}
.spacer,
.spacer-green {
   width: 60px;
   height: 0;
   display: inline-block;
}

.spacer {
   border: 2px solid #FFF3D1;
}

.spacer-green {
   border: 2px solid #035424;
}

/* Customize Carousel
-------------------------------------------------- */

.carousel-control-next,
.carousel-control-prev {
   width: auto;
}

.slider-items {
   margin: 0 3rem;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators [data-bs-target] {
   width: 10px;
   height: 10px;
   border-radius: 100%;
   background-color: #035424;
}

.carousel-indicators {
   bottom: -50px;
}

.carousel-item {
  height: 32rem;
}

/* Blog Divider
-------------------------------------------------- */
.blog h2 {
   margin-bottom: 5rem;
}

.blog-post {
   padding: 3rem 0;
   border-top: .5px solid #FFF3D1;
}

.blog-navigation {
   border-top: .5px solid #FFF3D1;
   padding-top: 3rem;
}

/* Customize Pagination
-------------------------------------------------- */
.pagination li {
   margin: 0 .7rem;
}

.pagination li a {
   color: #FFF3D1;
}

.pagination li.page-item a:hover,
.pagination li.page-item a:active,
.pagination li.page-item a:focus {
   background-color: #FFF3D1;
   color: #035424;
   border-radius: 5px;
}

.page-item:last-child .page-link,
.page-item:first-child .page-link {
   border-radius: 0;
}

.pagination li.page-item a {
   background: transparent;
   border: none;
}

.pagination li.page-item a.active {
   border-radius: 5px;
   background-color: #FFF3D1;
   color: #035424;
   font-weight: 600;
}